<!--<section class="ui raised segment">-->
  <div class="ui grid">
    <aside class="six wide column">
      <!--<img src="images/owl_and_cat.jpg" class="ui medium image">-->
    </aside>
    <article class="eight wide column">
      {{#if hoots}}
          {{#each hoots}}
            <table class="ui celled table segment" style="color:#ffffff">

              <thead>
              <tr>
                <th id="lightpurple" style="color:#ffffff">
                  {{hooter.firstName}} {{hooter.lastName}} says:</th>
                <!--<div class="container">
                  <button class="btn followButton" rel="6">Follow</button>
                </div>-->
                <th id="lightpurple" style="color:#ffffff"></th>
              </tr>
              </thead>
              <tbody id="purple">

              <tr>
                <td><div style="height: 100px; width: 200px;">{{hootmain}}</div>
                  {{#if picture.data}}
                    <div class="image">
                      <img src="/getPic/{{_id}}"  height="150" width="150"/>
                    </div>
                  {{/if}}</td>
                <td>{{#if hashtag}}#{{/if}}{{hashtag}} <br><br><br><br> {{date}} </td>
              </tr>

              </tbody>

            </table>
          {{/each}}
      {{/if}}
  {{#unless hoots}}
    <h1>There seems to be no hoots here!</h1>
  {{/unless}}
    </article>
  </div>
<!--
</section>-->
<script src="js/followtoggle.js"></script>