 <div class="ui grid">
    <aside class="six wide column">
      <img src="images/owl_and_cat.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <form class="ui form"  action="/deletelistuserhoot/{{id}}" method="POST">
        {{#each hoots}}
          <table class="ui celled table segment">

            <thead>
            <tr>
              <th id="lightpurple">{{hooter.firstName}} {{hooter.lastName}} says:</th>
              <th id="lightpurple">                <div class="ui checkbox">
                <input name="{{_id}}" type="checkbox">
                <label>Delete</label>
              </div></th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td><div style="height: 100px; width: 200px;">{{hootmain}}</div>  </td>
              <td>{{#if hashtag}}#{{/if}}{{hashtag}} <br><br><br><br> {{date}} </td>
            </tr>

            </tbody>

          </table>
        {{/each}}
        <button  class="ui red submit icon button"> Delete Selected
        </button>
      </form>
    </article>
  </div>
<script src="js/checkbox.js">
</script>